body {
    background-color: rgb(73, 73, 73);
    font-family: 'Source Code Pro', monospace;

}
.Заголовок{

    font-size: 30px;
    color:black;
}
.sidebar a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.block1 {
    margin-left: 50px; /*отступ слева*/
    margin-top: 50px; /*отступ сверху*/
    width: 90%;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 35px;  
}
.block1 h1 {
    text-align: center;

}
.block2 {
    margin-left: 50px; /*отступ слева*/
    margin-top: 50px; /*отступ сверху*/
    width: 600px; /*высота*/
    background-color: aliceblue;
    border-radius: 10px;
}
.block2 a {
    display: block;
}
.block3 {
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    margin-left: 750px;
    margin-top: -150px;
    border-radius: 10px;
    color: black;
}
.block3 a {
    display: block;
}
.block3 img {
    width: 100px;
    height: 100px;
}
.block4 {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    margin-left: 1050px;
    border-radius: 10px;
    margin-top: -250px;
}
.block4 button {
    margin-left: 15px;
    margin-top: 15px;
}
.block5 {
    width: 350px;
    height: 40px;
    background-color: aliceblue;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
}
.block5 button {
    margin-left: 10px;
    margin-top: 10px;
}


/* эта залупа для блоков 6 7 8 */
.block6, .block7, .block8 {
    width: 150px;
    height: 0;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 0.5s; /* это время которое будет длиться анимация перехода, можешь вертеть ее как на хую сколько угодно */
    overflow: hidden; /* це надо что бы браузер намана обрабатывал элемент если он находиться за гранью страницы*/
    opacity: 0; /* это короче прозрачность что бы сделать плавную красивую анимацию */
    margin-left: 50px;
}

/* эта хуета ебаная для кнопОчек в блоках 6 7 8 */
.block6 button, .block7 button, .block8 button {
    margin-left: 10px;
    margin-top: 10px;
}

/* эта поебень для уже открытых блоков */
.block-open {
    height: 150px;
    opacity: 1;
}



